/* ------------------------------------- */
/* BASIC SETUP */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Staatliches', cursive;
    margin: 0 20px;
    background-image: url("pipes.png");
    background-repeat: repeat;
    background-attachment: fixed;

}

/* ------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------- */

.row {
    max-width: 330px;
    margin: 0px auto;
}

button {
  border: 1.5px solid black;
  width: 2.5em;
  height: 2.5em;
  color: black;
  font-family: 'Staatliches', cursive;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin-right: 4px;
  margin-bottom: 8px;
  outline:none;
  cursor: pointer;
}

button:active {
    background-color: #00a59a7e;
}

/* ------------------------------------- */
/* HEADINGS */
/* ------------------------------------- */

h1 {
    font-size: 60px;
    color: #00a59a;
    letter-spacing: 2px;
    line-height: 95%;
    text-align: center;
    margin: 20px 0 35px 0;
}

/* ------------------------------------- */
/* INPUT CALCUATION */
/* ------------------------------------- */

#section-calculator {
    width: 350px;
    margin: 0 auto 20px auto;
    height: 500px;
    padding-top: 20px;
    padding-left: 9px;
    border: 1.5px solid black;
    background-color: #00a59a7e;
}

#calc-display-box {
    width: 213px;
    border: 1.5px solid black;
    background-color: white;
    margin-right: 8px;
    padding: 17px 10px;
    font-size: 30px;
}

#operator-text {
   margin: 0 3px 0 3px;
}

#calc-input-row {
    display: flex;
    margin-bottom: 8px;
    
}

#calc-input-row button {
    margin-bottom: 0;
}

#clear-history-btn {
    width: 321px;
    height: 60px;
}

/* ------------------------------------- */
/* OUTPUT CALCUATION */
/* ------------------------------------- */

#calc-output-list li {
    list-style: none;
    font-size: 20px;
    margin-bottom: 3px;
    letter-spacing: 2px;
    font-size: 30px;
    cursor: pointer
}

